.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Arrows {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    visibility:hidden;
}


.circle {
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    background-color: #224f6f;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center
}

.leftArrow {
    width: 100px;
    height: 5px;
    background-color: white;
    rotate: -40deg;
}

.rightArrow {
    width: 100px;
    height: 5px;
    background-color: white;
    rotate: 40deg;
}