.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;

}

.Arrows {
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    margin-bottom: 150px
}


.circle {
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    background-color: #224f6f;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.leftArrow {
    width: 6000px;
    height: 5px;
    background-color: white;
    rotate: -4deg;
}

.rightArrow {
    width: 6000px;
    height: 5px;
    background-color: white;
    rotate: 4deg;
}

.leftArrowGreen {
    width: 6000px;
    height: 5px;
    background-color: green;
    rotate: -4deg;
}

.rightArrowGreen {
    width: 6000px;
    height: 5px;
    background-color: green;
    rotate: 4deg;
}
