.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:400px;

}

.Arrows {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}


.circle {
    display:flex;
    flex-direction: column;
    border-radius: 100%;
    background-color: #224f6f;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center
}

.leftArrow {
    width: 1500px;
    height: 5px;
    background-color: white;
    rotate: -8deg;
}

.rightArrow {
    width: 1500px;
    height: 5px;
    background-color: white;
    rotate: 8deg;
}



.leftArrowGreen {
    width: 1500px;
    height: 5px;
    background-color: green;
    rotate: -8deg;
}

.rightArrowGreen {
    width: 1500px;
    height: 5px;
    background-color: green;
    rotate: 8deg;
}